<% feedArray.forEach(feed=>{ %>
    <div class="card">
        <img src="<%= feed.feedImgPath %>" class="card-img-top">
        <!-- feed Image -->
        <div class="card-body">
            <div class="card-text">
                <h3>
                    <%= feed.feedGoal %>
                </h3>
                <p>
                    <%= feed.feedMemo %>
                </p>
                <p style="text-align:right;"> time </p>
            </div>
        </div>
    </div>
<% }); %>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>