<% feedArray.forEach(feed=>{ %>
    <div class="col-6 col-md-4 col-lg-3">
        <div class="card" onclick="showSeed()">
            <img src="<%= feed.feedImgPath %>" class="card-img-top">
            <!-- feed Image -->
            <div class="card-body">
                <div class="card-text">
                    <h3>
                        <%= feed.feedGoal %>
                    </h3>
                    <p>
                        <%= feed.feedMemo %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
<% }); %>
