<ul class='elementGoal' >
    <li><a class='aGoal' id="<%= userItem.titlePK %>"><%= userItem.headTitle %></a></li>
    <li class='exception'><div style='float:right;'>
        <button class='editGoal'>Edit</button>&nbsp;
        <button class="delGoal">Delete</button>
    </div></li>
</ul>