<ul class='elementGoal'>
    <img class='imgGoal' src='./images/button_hirDown.png'>
    <li><a class='aGoal'>
            대제목
        </a></li>
    <li class='exception'>
        <div style="float:right">
            <button class='editGoal'>수정</button>&nbsp;
            <button>삭제</button>
        </div>
    </li>
    <ul class='elementSub' style='clear:both;'>
        <img class='imgSub' src='./images/button_hirDown.png'>
        <li><a class='aSub'>
                소제목
            </a></li>
        <li class='exception'>
            <div style='float:right;'>
                <button class='editGoal'>수정</button>&nbsp;
                <button>삭제</button>
            </div>
        </li>
        <ul class='elementFeed' style='clear:both;'>
            <li><a href='#'>
                  피드
                </a></li>
            <li class='exception'>
                <div style='float:right;'>
                    <button class='editGoal'>수정</button>&nbsp;
                    <button>삭제</button>
                </div>
            </li>
        </ul>
    </ul>
</ul>